<html xmlns:th="http://www.thymleaf.org">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Booking</title>

  <!-- 
      - favicon
    -->
  <link rel="shortcut icon" href="/images/logoAE.svg" type="image/svg+xml">
  <!-- 
      - custom css link
    -->
  <link rel="stylesheet" href="/css/user/index.css">

  <!-- 
      - google font link
    -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body id="top">

  <!-- 
      - #HEADER
    -->

  <header th:replace="fragments/userHeader :: userHeader"></header>



  <main>
    <article>
      <section class="hero" id="home">
        <div class="container">
          <h3 class="h2 hero-title">Your All-Access Pass to Amazing Events</h3>
        </div>
      </section>
      <section class="popular" id="destination">
        <div class="container">

          <h2 class="h2 section-title">All Events</h2>

          <ul class="popular-list">

            <li th:each="event : ${events}">
              <a  th:href="@{/events/user/event_details/{id}(id=${event.id})}" >

                <div class="popular-card">

                  <figure class="card-img">
                    <img src="/images/event2.jpg" alt="${event.name}" loading="lazy">
                  </figure>

                  <div class="card-content">

                    <p class="card-subtitle">
                      <a href="#" th:text="${event.category}"></a>
                    </p>

                    <p class="card-subtitle">
                      <a href="#" th:text="${event.price}"></a>
                    </p>

                    <h3 class="h3 card-title">
                      <a th:text="${event.name}"> </a>
                    </h3>

                    <p class="card-text" th:text="${event.description}">
                    </p>
                    <button class="btn btn-primary"><a style="color:white;"
                        th:href="@{/booking/user/booked(id=${event.id})}">Book Now</a></button>&nbsp;
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <footer th:replace="fragments/userFooter :: userFooter"></footer>



      <!-- 
      - ionicon link
    -->
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>